.Pro{
    height: 100%;
    width: 100%;
}
h1{
    color: rosybrown;
}
body{
    background-color: blanchedalmond;
}
.HomeImg
{
    margin-bottom: 3%;
}
.T1
{
    color: olivedrab;
}
.T2
{
    color: brown;
}
.T3
{
color: chocolate;
}
.T4
{
    color: cadetblue;
}
Footer
{
    background-color: aquamarine;
    bottom: 0%;
    width: 100%;
}
