.Pro{
    height: 100%;
    width: 100%;
}
.Preserved
{
    background-color: rgb(17, 122, 122);
    color: rosybrown;
    border: 5px rgb(19, 50, 140) solid;
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
.HomeImg
{
    margin-bottom: 3%;
}
.T1
{
    background-color: firebrick;
    color: olivedrab;
.Onion
{
    height: 150px;
    width: 150px;
}
.Orange
{
    height: 150px;
    width: 150px;
}
.Pepper
{
    height: 150px;
    width: 150px;
}
.Apple
{
    height: 150px;
    width: 150px;
}
margin: 5%;
}
.T2
{
    background-color: darkcyan;
    color: brown;
    margin: 5%;
.Chicken
{
    height: 150px;
    width: 150px;
}
.Steak
{
    height: 150px;
    width: 150px;
}
.Pork
{
    height: 150px;
    width: 150px;
}
}
.T3
{
background-color: dimgrey;
color: chocolate;
margin: 5%;
.Beans
{
    height: 150px;
    width: 150px;
}
.Corn
{
    height: 150px;
    width: 150px;
}
.Oats
{
    height: 150px;
    width: 150px;
}
}
.T4
{
    background-color: tomato;
    color: cadetblue;
    margin: 3%;
.FrozenF
{
    height: 150px;
    width: 150px;
}
.Ice
{
    height: 150px;
    width: 150px;
}
.FroVeg
{
    height: 150px;
    width: 150px;
}
.Hash
{
    height: 150px;
    width: 150px;
}
}
Footer
{
    background-color: aquamarine;
    bottom: 0%;
    width: 100%;
}
.Food
{
    text-align: left;
}
td:hover
{
    background-color: palegreen;
}