.Pro{
    height: 100%;
    width: 100%;
}
h1{
    color: rosybrown;
}
body{
    background-color: blanchedalmond;
}
.HomeImg
{
    margin-bottom: 3%;
}
.T1
{
    background-color: firebrick;
    color: olivedrab;
.Onion
{
    height: 150px;
    width: 150px;
}
.Orange
{
    height: 150px;
    width: 150px;
}
.Pepper
{
    height: 150px;
    width: 150px;
}
.Apple
{
    height: 150px;
    width: 150px;
}
}
.T2
{
    background-color: darkcyan;
    color: brown;
}
.T3
{
color: chocolate;
}
.T4
{
    background-color: tomato;
    color: cadetblue;
.FrozenF
{
    height: 150px;
    width: 150px;
}
.Ice
{
    height: 150px;
    width: 150px;
}
.FroVeg
{
    height: 150px;
    width: 150px;
}
}
Footer
{
    background-color: aquamarine;
    bottom: 0%;
    width: 100%;
}
.Food
{
    text-align: left;
}
td:hover
{
    background-color: palegreen;
}